#title{
    height: 60px;
    width: 100%;
}
#title_left{
    width: 180px;
    height: 100%;
    margin-top: 5px;
    margin-left: 10px;
    background-image: url(../img/main/logo.png);
    display: inline-block;
}
.title_main{
    background: #f8f9fa;
    margin-left: 5px;
    height: 100%;
    width: calc( 100% - 200px);
    display: inline-block;
    vertical-align:top;   /*防止文字掉落 */
}
/* main 包含了 title_right */
.title_main_item{
    text-align: center;
    width: 110px;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
}
.title_main_item:hover{ 
    background-color:white;
    border-left: 1px solid #cecaca;
    border-right: 1px solid #cecaca;
    border-top: 1px solid #cecaca;
}
#title_right{
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: calc(100% - 8px);
    right: 300px;
}