#title{
    height: 60px;
    width: 100%;
}
#title_left{
    width: 180px;
    height: 100%;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}
#title_main{
    background: #f8f9fa;
    margin-left: 5px;
    height: 100%;
    width: calc( 100% - 200px);
    display: inline-block;
    padding-top: 5px;
    line-height: 55px;
    vertical-align:top;   /*防止文字掉落 */
}
#ul_title{
    text-align: center;
    list-style: none;
}
.li_title{
    width: 100px;
    border-radius:5px 5px 0px 0px;
}
.li_title:hover{
    background-color: #eeeeee;
}
.title_active{
    background-color:white;
    border-left: 1px solid #cecaca;
    border-right: 1px solid #cecaca;
    border-top: 1px solid #cecaca;
}
.title_active:hover{
    background-color:white;
}
.a_block{
    display: block;
    font-size: 20px;
    color: #a2a8b6;
}
.a_block:hover{
    color: rgba(0,0,0,.7);
}
/* main 包含了 title_right */
#title_right{
    float: right;
    height: 100%;
    width: 1000px;
}
#user_name_group{
    display: inline-block;
}
#user_name{
    display: inline-block;
    margin-right: 10px;
}
.mousein{

}
#user_name_animation_nomal{
    position: absolute;
    width: 260px;
    height: 300px;
    margin-left: -50px;
    border-radius: 5px;
}