#title{
    height: 60px;
    width: 100%;
}
#title_left{
    width: 180px;
    height: 100%;
    margin-left: 10px;
    display: inline-block;
}
#title_main{
    background: #f8f9fa;
    margin-left: 5px;
    height: 100%;
    width: calc( 100% - 200px);
    display: inline-block;
    padding-top: 5px;
    line-height: 55px;
    vertical-align:top;   /*防止文字掉落 */
}
#ul_title{
    text-align: center;
    list-style: none;
}
.li_title{
    width: 100px;
    border-radius:5px 5px 0px 0px;
}
.li_title:hover{
    background-color: #eeeeee;
}
.title_active{
    background-color:white;
    border-left: 1px solid #cecaca;
    border-right: 1px solid #cecaca;
    border-top: 1px solid #cecaca;
}
.title_active:hover{
    background-color:white;
}
.a_block{
    display: block;
    font-size: 20px;
    color: #a2a8b6;
}
.a_block:hover{
    color: rgba(0,0,0,.7);
}
/* main 包含了 title_right */
#title_right{
    float: right;
    height: 100%;
    width: 500px;
}
#user_name_group{
    display: inline-block;
}
#user_name{
    display: inline-block;
    margin-right: 10px;
}
#user_name_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
#user_name_animation_nomal{
    position: absolute;
    width: 260px;
    height: 250px;
    margin-left: -50px;
    border-radius: 5px;
    background: rgb(242, 248, 255);
    box-shadow:0 0 1px #000 inset;
    opacity: 0;
    margin-top: -10px;
    display: none;
}
#user_name_animation_top{
    height: 80px;
    border-radius: 5px 5px 0 0;
    line-height: 80px;
}
#user_name_animation_top_img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 32px;
}
#user_name_animation_top_img_bg{
    border-radius: 50%;
    width: 51px;
    height: 51px;
    background-color: #4DACFF;
    position: absolute;
    top:15px;
    left: 50px;
}
#user_name_animation_top_username{
    margin-left: 110px;
    font-size: 15px;
    color: white;
}
#user_name_animation_main{
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.a_user_name_animation{
    display: block;
    padding-left: 40px;
}
.a_user_name_animation:visited{
    color: #337ab7;
}
.a_user_name_animation:hover{
    color: rgba(0,0,0,.7);
    background-color: rgba(0, 0, 0, .1);
}
#main{
    width: 100%;
    height: calc(100% - 60px);
}
#main_left{
    width: 200px;
    background: #f8f9fa;
    height: 100%;
    display: inline-block;
}
#ul_left{
    list-style: none;
}
.a_left{
    display: block;
    padding-left: 40px;
    height: 45px;
    font: 12px/1.5 "Microsoft YaHei", arial, SimSun, 宋体;
    font-size: 15px;
    color: #666;
}
.a_left:hover{
    background-color: rgba(0, 0, 0, .1);
    color: #666;
}
#glyphicon_li_left{
    position: absolute;
    left: -20px;
    top: 15px;
}
.li_left{
    position: relative;
    line-height: 45px;
    padding-left: 20px;
}
#left_list_active{
    background-color: rgba(0, 0, 0, .1);
    color: rgb(68, 158, 231);
}
#left_bottom{
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#left_process_bar{
    height: 5px;
}
#main_main{
    width: calc(100% - 200px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
#main_main_top{
    margin-top: 10px;
    height: 50px;
    padding: 5px 0px;
    padding-left: 20px;
}
.button_main_main_top{
    font: 12px/1.5 "Microsoft YaHei", arial, SimSun, 宋体;
    margin-left: 10px;
    font-size: 15px;
    color: #0098EA;
    border: 1px #C3EAFF solid;
}
.button_main_main_top:hover{
    color: #0098EA;
}
input[type='checkbox']{
    width: 15px;
    height: 15px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    display: inline-block;
    vertical-align:sub;
}
input[type=checkbox]:checked{
    background: url("../img/file/checkbox_select.png")no-repeat center;
}
.span_file_attr{
    color: #666;
}
#filehead_left{
    width: 60%;
    display: inline-block;
    padding-left: 20px;
}
#filehead_mid{
    width: 20%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#filehead_right{
    width: calc(20% - 8px);
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#file_main{
    width: 100%;
    height: calc(100% - 103px);
    padding-right: 10px;
}
.file_left{
    width: calc(60% + 10px);
    display: inline-block;
    padding-left: 20px;
}
.file_mid{
    width: 20%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
.file_right{
    padding-left: 5px;
    width: calc(20% - 25px);
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#file_table{
    width: 100%;
}
.file_tr{
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-bottom: 1px solid #f2f6fd;
}
.file_td{

}
.file_img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.file_name{
    margin-left: 7px;
}