#text_pic{
    position: absolute;
    left: 27%;
    bottom: 230px;
}
.quote_text{
    color: white;
    font-size: 37px;
    font-weight: 500;
}
#mask{
    position: absolute;
    right: 17%;
    top: 130px;
    background-color: white;
    opacity: 0.65;
    padding: 10px;
    overflow: hidden;
}
.login_span{
    font-size: 15px;
}