#right_main_main{
    width: 100%;
    height: calc(100% - 70px);
}
.right_main_main_left_item{
    margin-top: 20px;
}
#right_main_main_right{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 505px);
    height: 100%;
    padding: 30px 60px;
    margin: 0 auto;
}
#change_img:focus{
    outline: none;
}
#in_img_tip{
    position: absolute;
    top: 210px;
    padding: 5px 10px;
    width: 100px;
    background: #495258;
    border-radius: 5px;
    color: white;
    pointer-events:none; /*点击穿透*/
}