#main{
    width: 100%;
    height: calc(100% - 60px);
}
#main_left{
    width: 200px;
    background: #f8f9fa;
    height: 100%;
    display: inline-block;
}
.a_left{
    display: block;
    padding-left: 40px;
    height: 45px;
    font: 12px/1.5 "Microsoft YaHei", arial, SimSun, 宋体;
    font-size: 15px;
    color: #666;
}
.a_left:hover{
    background-color: rgba(0, 0, 0, .1);
    color: #666;
}
.a_left:focus{
    color: #666;
}
#glyphicon_li_left{
    position: absolute;
    left: -20px;
    top: 15px;
}
.li_left{
    position: relative;
    line-height: 45px;
    padding-left: 20px;
}
#left_list_active{
    background-color: rgba(0, 0, 0, .1);
    color: rgb(68, 158, 231);
}
#left_bottom{
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#left_process_bar{
    height: 5px;
}
#main_main{
    width: calc(100% - 200px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
#main_main_top{
    margin-top: 10px;
    height: 50px;
    padding: 5px 0px;
    padding-left: 20px;
}
.button_main_main_top{
    font: 12px/1.5 "Microsoft YaHei", arial, SimSun, 宋体;
    margin-left: 10px;
    font-size: 15px;
    color: #0098EA;
}
.button_main_main_top:hover{
    outline: none !important;
    color: #0098EA;
}
.button_main_main_top:focus{
    outline: none !important;
    color: #0098EA;
}
.button_main_main_top:active{
    outline: none !important;
    color: rgb(27, 175, 255) !important;
}
.button_main_main_top>.button_main_main_top:focus{
    box-shadow: 0px 0px 0px;
    border: 1px #ccc solid;
    background-color: white;
}
.button_main_main_top>.button_main_main_top:hover{
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: rgba(227, 229, 231, 0.5);
}
.button_main_main_top>.button_main_main_top:active{
    color: rgb(27, 175, 255);
    background-color: rgba(227, 229, 231, 0.7);
}
input[type='checkbox']{
    width: 15px;
    height: 15px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline:none;
    display: inline-block;
    vertical-align:sub;
}
input[type='checkbox']:focus{
    outline:none;
}
input[type=checkbox]:checked{
    background: url("../img/file/checkbox_select.png")no-repeat center;
}
.span_file_attr{
    color: #666;
}
#filehead_left{
    width: 60%;
    display: inline-block;
    padding-left: 20px;
}
#filehead_mid{
    width: 20%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#filehead_right{
    width: calc(20% - 8px);
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#file_main{
    overflow:scroll;
    overflow-x: hidden;
    padding-top: 10px;
    width: 100%;
    height: calc(100% - 103px);
    padding-right: 10px;
}
#file_main::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
#file_main::-webkit-scrollbar-thumb { /*滚动条*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #969693;
}
#file_main::-webkit-scrollbar-track { /*滑轨*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.file_left{
    width: calc(60% + 13px);
    display: inline-block;
    padding-left: 20px;
}
.file_mid{
    width: 20%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
.file_right{
    padding-left: 5px;
    width: calc(20% - 25px);
    height: 100%;
    vertical-align:middle;
    display: inline-block;
}
#file_table{
    width: 100%;
}
.file_tr{
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-bottom: 1px solid #f2f6fd;
}
.file_td{

}
.file_img{
    width: 30px;
    height: 30px;
}
.file_name{
    margin-left: 7px;
    user-select: text;
}
.file_tr:hover{
    background-color:rgba(65, 159, 247, 0.1);
}
.a_file_name{
    color: black;
}
.a_file_name:hover{
    color: black;
}
.a_file_name:focus{
    color: black;

}
.btn_search:focus{
    outline: none;
}
.checkbox_div{
    width: 20px;
    display: inline-block;
}
#tip{
    height: 50px;
    position: absolute;
    top: 30px;
    margin: auto;
    width: 400px;
    left:0;right:0;
}
#tip_input{
    position: absolute;
    left: 30%;
    right: 30%;
    height: 100px;
}