#text_pic{
    position: absolute;
    left: 27%;
    bottom: 230px;
}
.quote_text{
    color: white;
    font-size: 37px;
    font-weight: 500;
}
#mask{
    position: absolute;
    right: 17%;
    top: 130px;
    background-color: white;
    opacity: 0.65;
    padding: 10px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.login_span{
    font-size: 15px;
}
#login_main{
    position: absolute;
    margin-left: 0px;
    overflow: hidden;
    white-space: nowrap;
}
#regedit_main{
    position: absolute;
    margin-left: -400px;
    overflow: hidden;
    white-space: nowrap;
}
.input_my{
    display: inline !important;
    width: 340px !important;
}
#tip{
    width: 380px;
    z-index: 2;
    position: absolute;
    display: none;
    margin-top: 20px;
}
#regedit_code_btn:focus{
    outline: none;
}